---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const projects = [
    {
      title: 'Cines Unidos clone',
      description: `Es un proyecto que simula la página de Cines Unidos. La página se actualizaba diariamente mediante un scraping de la página real, para obtener la información de las películas en cartelera. Utilicé el CI/CD de GitHub Actions para automatizar el proceso de scraping y despliegue de la página. Gracias a este proyecto, aprendí a resolver problemas con GitHub Actions y a crear una API basada en un scraping.
      `,
      url: '/projects/cine.png',
      link: 'https://github.com/time9683/cine',
      live:"https://cine.deno.dev/",
      tecnologies: ['Node.js', 'Preact',"Tailwind"]
    },
    {
      title: 'CloudHome',
      description: ' CloudHome es una aplicación inspirada en Google Drive, con funcionalidades como subir archivos y crear carpetas, pero diseñada para uso local. Permite ver desde la web los archivos y carpetas creados en el almacenamiento local. Dado que es un proyecto pensado principalmente para uso local, no incluye la función de vista previa.',
      url: '/projects/cloud.png',
      link: "https://github.com/time9683/CloudHome",
      tecnologies: ['React', 'Node.js']
    },
    {
      title: 'Simulador de movil',
      description: `
  Un simulador de interfaz de un móvil que emula algunas aplicaciones, como la cámara, la galería y el grabador de voz. Además, incluye la simulación de llamadas mediante un servidor WebSocket con WebRTC.
      `,
      url: '/projects/so.png',
      link: 'https://github.com/time9683/mobile-simulator',
      live:"https://mobile-simulator.vercel.app/",
      tecnologies: ['React', 'Node.js', 'WebRTC',"websockets","Tailwind"]
    },
    {
      title: 'Web itcscience',
      description: ` Este proyecto fue principalmente una colaboración con una comunidad de programación, donde me encargué del desarrollo del backend para permitir suscripciones al newsletter y gestionar la información de los formularios de la página. Además, creé la estructura necesaria para implementar un blog a partir de archivos Markdown.`,
      url: '/projects/it.png',
      link: 'https://github.com/yeho/webcomunidad',
      live:"https://itcscience.org/",
      tecnologies: ['Html', 'Css','Node.js']
    }

  ]
---

<Layout title="Luis Portafolio">

  <main class="p-4" >
    
    <section class="max-w-2xl mx-auto pb-10 pt-10 flex flex-col gap-2">

      <div class="flex gap-4 items-center">
        <h1 class="text-white font-bold text-3xl text-wrap mb-4">Hola! soy Luis Hernadez</h1>
        <img src="/projects/perfil.jpg" alt="foto luis hernandez" class="rounded-full size-24 ">
      </div>
      <p class="text-white text-balance text-lg"> 
        Estudiante de ingenieria en Computacion, especializado en el <strong class="text-blue-400">desarrollo de aplicaciones web </strong> y  apasicionado por la <strong class="text-blue-400">programacion de bajo nivel.</strong>
      </p>
      <div>
        <a href="https://github.com/time9683" 
        target="_blank" rel="noopener noreferrer"
        class="py-1 px-2 bg-blue-800/80 text-white rounded-sm cursor-pointer  hover:bg-blue-800 transition-colors self-start">Github</a>
        <a href="https://www.linkedin.com/in/luis-hernandez-324270196/" 
        target="_blank" rel="noopener noreferrer"
        class="py-1 px-2 bg-blue-800/80 text-white rounded-sm cursor-pointer  hover:bg-blue-800 transition-colors self-start">Linkedin</a>
        <a
         target="_blank" rel="noopener noreferrer"
        class="py-1 px-2 bg-blue-800/80 text-white rounded-sm cursor-pointer  hover:bg-blue-800 transition-colors self-start"
         href="mailto:siul210704@gmail.com">mi correo</a>
        
      </div>
    </section>

    
    <section class="max-w-2xl mx-auto">
      <div class="flex gap-2 text-white justify-start items-start">
        <svg class="size-7" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 8l-4 4l4 4"></path><path d="M17 8l4 4l-4 4"></path><path d="M14 4l-4 16"></path></svg>
        <h2 class="text-white text-2xl font-bold mb-6">Proyectos</h2>
      </div>

      <div class="flex flex-col gap-28">



        {
          projects.map((project) => (
            <Card {...project} />
          ))
        }

</div>

    
      </div>




    </section>


    <section class="max-w-2xl mx-auto py-10 text-white [&>p>strong]:text-blue-400">
      <h3 class="text-2xl text-balance font-bold">Tecnologias que manejo</h3>

      <div class="flex flex-wrap gap-2 mt-4">
        {['HTML', 'CSS', 'Tailwind', 'JavaScript', 'React', 'Node.js', 'Deno'].map((tech) => (
          <span class="bg-blue-800/80 text-white py-1 px-2 rounded-lg">{tech}</span>
        ))}
      </div>
    
    
    </section>





    <section class="max-w-2xl mx-auto py-10 text-white [&>p>strong]:text-blue-400">
      <h3 class="text-2xl text-balance font-bold">Sobre mí</h3>

      <p class="my-4 text-pretty font-mono">
        Me llamo <strong>Luis Hernandez</strong>. Tengo como <strong>hobby</strong> el estudio de inglés y otros idiomas. Empecé en la <strong>programación</strong> con la idea de crear mods para Minecraft. Luego de ver el <strong>desafío</strong> que representaba Java, decidí estudiar <strong>C</strong> para crear herramientas de sistema, como <a>Metadata Extractor MP3</a>, un programa para extraer metadatos de archivos MP3. Este proyecto fue muy sencillo, pero resultó significativo por ser el primero.
      </p>
      
      <p class="my-4 text-pretty font-mono">
        Podría decirse que inicié en el <strong>desarrollo web</strong> a los 15 años, motivado por comprender cómo funcionaban las páginas web y cómo se podían crear. Unos años después, tuve la necesidad de contar con una <strong>unidad central de información</strong> en mi PC, accesible desde cualquier lugar. Así que, con <strong>React</strong> y <strong>Node.js</strong>, creé un <strong>servidor de archivos</strong> que me permitía acceder a mis archivos desde cualquier sitio.
      </p>
      
      <p class="my-4 text-pretty font-mono">
        Tuve la oportunidad de <strong>liderar</strong> junto a unos compañeros un proyecto de desarrollo de una aplicación web que simulaba un sistema de gestión para una fábrica de chocolate. Gracias a este proyecto, pude aprender mucho más sobre el <strong>desarrollo web</strong> y la <strong>gestión de proyectos</strong>.
      </p>
      
    </section>

  </main>




</Layout>

<style>

</style>
